In [1]:
#setup
from Apriori import Apriori
import pandas as pd
import numpy as np

## Zadanie 4.
Znajdź ciekawe reguły asocjacyjne w zbiorze danych Ta-Feng. Użyj własnej implementacji algorytmu APRIORI lub jego modyfikacji. Uzasadnij dlaczego wskazane reguły uznajesz za ciekawe.

In [2]:
#load data
columns = ['date', 'customer_id', 'age', 'residence_area', 'product_subclass', 'product_id', 
           'amount', 'asset', 'sales_price']
tafeng_df01 = pd.read_csv('Data/Ta-Feng/D01', sep=';', names=columns)
tafeng_df02 = pd.read_csv('Data/Ta-Feng/D02', sep=';', names=columns)
tafeng_df11 = pd.read_csv('Data/Ta-Feng/D11', sep=';', names=columns)
tafeng_df12 = pd.read_csv('Data/Ta-Feng/D12', sep=';', names=columns)

In [3]:
tafeng_df01.head()

,date,customer_id,age,residence_area,product_subclass,product_id,amount,asset,sales_price
0,2001-01-01 00:00:00,141833,F,F,130207,4710105011011,2,44,52
1,2001-01-01 00:00:00,1376753,E,E,110217,4710265849066,1,150,129
2,2001-01-01 00:00:00,1603071,E,G,100201,4712019100607,1,35,39
3,2001-01-01 00:00:00,1738667,E,F,530105,4710168702901,1,94,119
4,2001-01-01 00:00:00,2141497,A,B,320407,4710431339148,1,100,159

In [4]:
df01 = tafeng_df01.groupby(['customer_id', 'date']).agg(lambda x: x.tolist())[['product_id']]
df02 = tafeng_df02.groupby(['customer_id', 'date']).agg(lambda x: x.tolist())[['product_id']]
df11 = tafeng_df11.groupby(['customer_id', 'date']).agg(lambda x: x.tolist())[['product_id']]
df12 = tafeng_df12.groupby(['customer_id', 'date']).agg(lambda x: x.tolist())[['product_id']]

In [5]:
df01.head()

                                                                        product_id
customer_id date
1069        2001-01-21 00:00:00      [4710320224661, 4710022101208, 4712603661644]
1113        2001-01-06 00:00:00  [4710088620750, 4710008251125, 4710254015021, ...
1823        2001-01-24 00:00:00        [78698703015, 4710114128038, 4710126392175]
2189        2001-01-03 00:00:00  [4710114105046, 4710036009071, 4902704881052, ...
4282        2001-01-13 00:00:00  [4710363609005, 4710466101130, 4714058833126, ...

In [6]:
df01['product_id'] = df01['product_id'].apply(lambda r: ' '.join(list(map(str, r))))
df02['product_id'] = df02['product_id'].apply(lambda r: ' '.join(list(map(str, r))))
df11['product_id'] = df11['product_id'].apply(lambda r: ' '.join(list(map(str, r))))
df12['product_id'] = df12['product_id'].apply(lambda r: ' '.join(list(map(str, r))))

In [7]:
A01 = Apriori(df01, supp_count=150, min_confidence=0.6, min_lift=1.5, min_leverage=0.005)
A02 = Apriori(df02, supp_count=150, min_confidence=0.6, min_lift=1.5, min_leverage=0.005)
A11 = Apriori(df11, supp_count=150, min_confidence=0.6, min_lift=1.5, min_leverage=0.005)
A12 = Apriori(df12, supp_count=150, min_confidence=0.6, min_lift=1.5, min_leverage=0.005)

Find single group counts: 100%|██████████| 29901/29901 [00:04<00:00, 6828.46it/s]
Find single group counts: 100%|██████████| 31051/31051 [00:04<00:00, 6475.45it/s]
Find single group counts: 100%|██████████| 31860/31860 [00:04<00:00, 6964.81it/s]
Find single group counts: 100%|██████████| 26766/26766 [00:04<00:00, 6527.02it/s]

In [8]:
A01.find_common_groups()

Extending common groups:   1%|          | 1/116 [00:38<1:13:44, 38.47s/it]

In [ ]:
A02.find_common_groups()

In [ ]:
A11.find_common_groups()

In [ ]:
A12.find_common_groups()

In [9]:
A01.find_rules()
A02.find_rules()
A11.find_rules()
A12.find_rules()

Find rules: 173it [00:00, 14594.61it/s]
Find rules: 152it [00:00, 16127.45it/s]
Find rules: 170it [00:00, 18422.21it/s]
Find rules: 122it [00:00, 21295.31it/s]

In [10]:
sorted(A11.rules, key=lambda r: r[1]['leverage'], reverse=True)

[(({'4710085120697'}, {'4710085120680'}),
  {'confidence': 0.76,
   'lift': 56.180046403712296,
   'leverage': 0.006443183237713332})]

In [27]:
for r in A11.rules:
    As, Bs = r[0]
    res = ''
    for a in As:
        res += str(tafeng_df11[tafeng_df11['product_id'] == int(a)].iloc[0]['product_subclass']) + '  '
    res += '-->  '
    for b in Bs:
        res += str(tafeng_df11[tafeng_df11['product_id'] == int(b)].iloc[0]['product_subclass']) + '  '
    print(res)

110411  -->  110411

In [11]:
sorted(A12.rules, key=lambda r: r[1]['leverage'], reverse=True)

[(({'4710011401135'}, {'4710011401128'}),
  {'confidence': 0.7352941176470588,
   'lift': 54.5176796480365,
   'leverage': 0.00550133000705526})]

In [28]:
for r in A12.rules:
    As, Bs = r[0]
    res = ''
    for a in As:
        res += str(tafeng_df11[tafeng_df11['product_id'] == int(a)].iloc[0]['product_subclass']) + '  '
    res += '-->  '
    for b in Bs:
        res += str(tafeng_df11[tafeng_df11['product_id'] == int(b)].iloc[0]['product_subclass']) + '  '
    print(res)

120103  -->  120103

In [12]:
sorted(A01.rules, key=lambda r: r[1]['leverage'], reverse=True)

[(({'4710011401135'}, {'4710011401128'}),
  {'confidence': 0.772972972972973,
   'lift': 37.520559845559845,
   'leverage': 0.009309973327239133}),
 (({'4710011405133'}, {'4710011401128'}),
  {'confidence': 0.6932668329177057,
   'lift': 33.65157722576675,
   'leverage': 0.009021065235598981}),
 (({'4710018004704'}, {'4710018004605'}),
  {'confidence': 0.6184538653366584,
   'lift': 30.515493444606307,
   'leverage': 0.008022239417971349}),
 (({'4710011406123'}, {'4710011401128'}),
  {'confidence': 0.6051282051282052,
   'lift': 29.373276723276724,
   'leverage': 0.007624008765731704}),
 (({'4710011409056'}, {'4710011401128'}),
  {'confidence': 0.7266881028938906,
   'lift': 35.27386520232179,
   'leverage': 0.007344001545132157}),
 (({'4710011401135', '4710011405133'}, {'4710011401128'}),
  {'confidence': 0.7817258883248731,
   'lift': 37.94543147208122,
   'leverage': 0.005014599525658288})]

In [25]:
for r in A01.rules:
    As, Bs = r[0]
    res = ''
    for a in As:
        res += str(tafeng_df11[tafeng_df11['product_id'] == int(a)].iloc[0]['product_subclass']) + '  '
    res += '-->  '
    for b in Bs:
        res += str(tafeng_df11[tafeng_df11['product_id'] == int(b)].iloc[0]['product_subclass']) + '  '
    print(res)

120103  -->  120103
120103  -->  120103
120103  -->  120103
120103  -->  120103
100505  -->  100505
120103  120103  -->  120103

In [13]:
sorted(A02.rules, key=lambda r: r[1]['leverage'], reverse=True)

[]

In [29]:
for r in A02.rules:
    As, Bs = r[0]
    res = ''
    for a in As:
        res += str(tafeng_df11[tafeng_df11['product_id'] == int(a)].iloc[0]['product_subclass']) + '  '
    res += '-->  '
    for b in Bs:
        res += str(tafeng_df11[tafeng_df11['product_id'] == int(b)].iloc[0]['product_subclass']) + '  '
    print(res)